{%extends './layouts/main.html'%}

{%block content%}
<div id="app">
    <div id="index" class="container mb-3">
        <div class="jumbotron shadow-sm">
            <h1 class="display-1 fw-semi-bold">Vacature Bulletin board</h1>
            <p class="lead clearfix fs-4 text-gray-500">De bulletin board voor opdrachtgevers. zelfstandigen en
                freelancers.
                <img class="img-fluid" src="./../static/assets/teammeeting.svg" alt="">
            </p>
            <a href="{{url_for('auth.aanmelden')}}" class="rounded-pill btn btn-lg btn-outline-primary header-btn">
                Schrijf
                je
                direct in <span class="btn-bull"><i class="fa fa-chevron-right"></i></span></a>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3 mt-4">
            <div class="col">
                <div class="card border-0">
                    <div class="card-body">
                        <p class="cus-header">Python developer gezocht voor een flask applicatie</p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-danger">Bekijken</button>
                                <button type="button" class="btn btn-sm btn-outline-danger">Reageren</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">

                    <div class="card-body">
                        <p class="cus-header">Machine operator gezocht</p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-danger">Bekijken</button>
                                <button type="button" class="btn btn-sm btn-outline-danger">Reageren</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">

                    <div class="card-body">
                        <p class="cus-header">Paarden menner gezocht voor manaiche</p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-danger">Bekijken</button>
                                <button type="button" class="btn btn-sm btn-outline-danger">Reageren</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card border-0">

                    <div class="card-body">
                        <p class="cus-header">Elektro monteur gezocht</p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-danger">Bekijken</button>
                                <button type="button" class="btn btn-sm btn-outline-danger">Reageren</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">

                    <div class="card-body">
                        <p class="cus-header">FullStack Webdeveloper voor een grote webwinkel</p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-danger">Bekijken</button>
                                <button type="button" class="btn btn-sm btn-outline-danger">Reageren</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">

                    <div class="card-body">
                        <p class="cus-header">Stukadoor gezocht voor groeiend team</p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-danger">Bekijken</button>
                                <button type="button" class="btn btn-sm btn-outline-danger">Reageren</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card border-0">

                    <div class="card-body">
                        <p class="cus-header">Klussenier gezocht voor tuin</p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-danger">Bekijken</button>
                                <button type="button" class="btn btn-sm btn-outline-danger">Reageren</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">

                    <div class="card-body">
                        <p class="cus-header">Helpdesk medewerker gezocht</p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-danger">Bekijken</button>
                                <button type="button" class="btn btn-sm btn-outline-danger">Reageren</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">

                    <div class="card-body">
                        <p class="cus-header">Lasser gezocht</p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-danger">Bekijken</button>
                                <button type="button" class="btn btn-sm btn-outline-danger">Reageren</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {{name}}
    </div>
    {%include './partials/footer.html'%}
</div>
{%endblock%}

{%block scripting%}
<script type="text/javascript">
    let cur_link = document.querySelector('a#home_link');
    let all_links = document.querySelectorAll('nav a.nav-link');
    document.addEventListener('DOMContentLoaded', () => {
        all_links.forEach(link => {
            link.classList.remove('active');
        })
        cur_link.classList.add('active')
    });
</script>
<style>

</style>
{%endblock%}